<ActionBar title="Pokémon 2"></ActionBar>

<Label text="hi"></Label>

<!--<StackLayout class="page">
  <Label [style.visibility]="pokemon ? 'collapse' : 'visible'"
    class="h1" text="Loading..."></Label>

  <ListView [items]="pokemon" class="list-group">
    <template let-item="item">
      <FlexboxLayout>
        <Image [src]="item.image()"></Image>
        <Label [nsRouterLink]="['/item', item.id]"
          text="foo" class="list-group-item"></Label>
      </FlexboxLayout>
    </template>
  </ListView>
</StackLayout>-->

